# Importazione librerie

In [1]:
import pandas as pd

# Importazione e conversione datasets

Data la grande dimensione di alcuni dei dataset utilizzati, questi verranno convertiti da `.csv` a `.parquet` (Apache Parquet Format)

In [10]:
#df = pd.read_csv('./Datasets/Dati_sensori_meteo_2021_parte_2.csv', low_memory=False)
#df.to_parquet('./Datasets/Dati_sensori_meteo_2021_parte_2.parquet')

Importazione

In [11]:
meteo_21 = pd.read_parquet('./Datasets/Dati_sensori_meteo_2021_parte_2.parquet')
meteo_21.head()

   IdSensore                    Data  Valore  idOperatore Stato
0      19088  01/12/2021 01:40:00 AM     2.7            3    VA
1       9101  01/12/2021 01:10:00 AM     0.0            4    VA
2       9123  01/12/2021 01:10:00 AM     0.0            4    VA
3      14047  01/12/2021 02:30:00 AM   250.0            3    VA
4       2459  01/12/2021 02:50:00 AM     2.0            1    VA

In [12]:
aria_21 = pd.read_csv('./Datasets/Dati_sensori_aria_2021.csv')
aria_21.head()

   IdSensore                    Data  Valore Stato  idOperatore
0       5832  01/01/2021 12:00:00 AM -9999.0   NaN            1
1       5832  01/01/2021 04:00:00 AM -9999.0   NaN            1
2       6328  01/01/2021 03:00:00 AM -9999.0   NaN            1
3       5504  01/01/2021 04:00:00 AM -9999.0   NaN            1
4       5504  01/01/2021 03:00:00 AM -9999.0   NaN            1

In [40]:
stazioni_meteo = pd.read_csv('./Datasets/Stazioni_Meteorologiche.csv', dtype = {'Tipologia': 'category'})
stazioni_meteo.head()
#stazioni_meteo['Tipologia'].cat.categories

,IdSensore,Tipologia,Unità DiMisura,IdStazione,NomeStazione,Quota,Provincia,DataStart,DataStop,Storico,UTM_Nord,UTM_Est,lng,lat,location
0,22006,Umidità Relativa,%,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
1,22007,Direzione Vento,°,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
2,22003,Temperatura,°C,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
3,22009,Velocità Vento,m/s,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
4,17612,Altezza Neve,cm,1545,San Siro Alpe Rescascìa,1285,CO,07/11/2019,NaN,N,5102069,518430,9.238323,46.071947,"(46.071947417956004, 9.238323435918229)"

In [39]:
stazioni_aria = pd.read_csv('./Datasets/Stazioni_qualita__dell_aria.csv', dtype = {'NomeTipoSensore': 'category'})
stazioni_aria.head()
#stazioni_aria['NomeTipoSensore'].cat.categories

,IdSensore,NomeTipoSensore,UnitaMisura,Idstazione,NomeStazione,Quota,Provincia,Comune,Storico,DataStart,DataStop,Utm_Nord,UTM_Est,lat,lng,location
0,17286,Biossido di Azoto,µg/m³,1374,Monza Parco,181.0,MB,Monza,N,01/05/2013,NaN,5049780,521452,45.601232,9.275073,"(45.60123219955139, 9.27507265782848)"
1,17284,Ammoniaca,µg/m³,1374,Monza Parco,181.0,MB,Monza,N,08/02/2013,NaN,5049780,521452,45.601232,9.275073,"(45.60123219955139, 9.27507265782848)"
2,17290,PM10 (SM2005),µg/m³,1374,Monza Parco,181.0,MB,Monza,N,15/02/2013,NaN,5049780,521452,45.601232,9.275073,"(45.60123219955139, 9.27507265782848)"
3,17285,Ossidi di Azoto,µg/m³,1374,Monza Parco,181.0,MB,Monza,N,01/05/2013,NaN,5049780,521452,45.601232,9.275073,"(45.60123219955139, 9.27507265782848)"
4,17288,Ozono,µg/m³,1374,Monza Parco,181.0,MB,Monza,N,09/02/2013,NaN,5049780,521452,45.601232,9.275073,"(45.60123219955139, 9.27507265782848)"

In [44]:
zonizzazione = pd.read_csv('./Datasets/classificazione_comuni_ABCD.csv', dtype = {'Zona': 'category'})
zonizzazione.head()
#zonizzazione['Zona'].cat.categories

  Provincia  Codice Istat         Comune Zona  Residenti 2008  Superficie (ha)
0        BG         16009       AMBIVERE    A            2341              327
1        BG         16013  ARZAGO D'ADDA    A            2836              944
2        BG         16018      BAGNATICA    A            4119              639
3        BG         16020        BARIANO    A            4396              714
4        BG         16021       BARZANO'    A            5178              356

### Riduzione dimensioni

Meteo: 343 stazioni con 1262 sensori

Aria: 174 stazioni con 966 sensori

- da `stazioni_aria` e `stazioni_meteo` trovare solo gli `IdSensore` di tipologia utile
- tenere solo stazioni meteo dove ci sono stazioni aria
- inner joint tra dati e stazioni filtrate
- left joint (non case sensitive) con dataset `zonizzazione` rispetto a `Comune` tenendo solo la colonna `Zona`
- salvare i nuovi dataset in formato parquet