# Importazione librerie e setup

## Setup grafico

In [13]:
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:90% !important; }</style>"))

## Importazione librerie

In [15]:
import pandas as pd
import plotly.graph_objects as go
import datetime
import numpy as np

# Datasets

## Lettura

In [10]:
aria_milano_01_21 = pd.read_csv('./data/data_viz/aria_milano_01_21.csv',
                      parse_dates=['Data'],
                      dayfirst=True,
                      index_col = 0
                     )

In [11]:
aria_milano_01_21.dtypes

Data                          datetime64[ns]
NomeTipoSensore                       object
Valore_MEAN_day_zona_tipo            float64
Valore_COUNT_day_zona_tipo           float64
Valore_STD_day_zona_tipo             float64
dtype: object

In [12]:
aria_milano_01_21

,Data,NomeTipoSensore,Valore_MEAN_day_zona_tipo,Valore_COUNT_day_zona_tipo,Valore_STD_day_zona_tipo
0,2001-01-01,Biossido di Azoto,71.864524,34.0,13.968620
1,2001-01-01,Biossido di Zolfo,13.926929,22.0,11.145590
2,2001-01-01,Monossido di Carbonio,2.528201,31.0,0.826181
3,2001-01-01,Ossidi di Azoto,230.153608,34.0,71.889506
4,2001-01-01,Ozono,10.412080,17.0,3.100986
...,...,...,...,...,...
68998,2021-12-28,Ozono,NaN,NaN,NaN
68999,2021-12-28,PM10 (SM2005),NaN,NaN,NaN
69000,2021-12-28,Particelle sospese PM2.5,NaN,NaN,NaN
69001,2021-12-28,Particolato Totale Sospeso,NaN,NaN,NaN
69002,2021-12-28,Benzene,NaN,NaN,NaN

# Visualizzazioni

## Heatmap

In [19]:
aria_milano_01_21['Data'].dt.year

0        2001
1        2001
2        2001
3        2001
4        2001
         ...
68998    2021
68999    2021
69000    2021
69001    2021
69002    2021
Name: Data, Length: 69003, dtype: int64

In [ ]:
#programmers = ['Alex','Nicole','Sara','Etienne','Chelsea','Jody','Marianne']
#base = datetime.datetime.today()
#z = np.random.poisson(size=(len(programmers), len(dates)))

fig = go.Figure(data=go.Heatmap(
        z=z,
        x=aria_milano_01_21['Data'].dt.d,
        y=aria_milano_01_21['Data'].dt.year,
        colorscale='Viridis'))

fig.update_layout(
    title='GitHub commits per day',
    xaxis_nticks=36)

fig.show()